*.swp
*.out
*~
*.aux
*.log
ordering_figures_final/images/EBM/stage_12-eps-converted-to.pdf
ordering_figures_final/images/EBM/stage_18-eps-converted-to.pdf
ordering_figures_final/images/EBM/stage_24-eps-converted-to.pdf
ordering_figures_final/images/EBM/stage_36-eps-converted-to.pdf
ordering_figures_final/images/EBM/stage_6-eps-converted-to.pdf
ordering_figures_final/images/GMM/stage_12-eps-converted-to.pdf
ordering_figures_final/images/GMM/stage_18-eps-converted-to.pdf
ordering_figures_final/images/GMM/stage_24-eps-converted-to.pdf
ordering_figures_final/images/GMM/stage_36-eps-converted-to.pdf
ordering_figures_final/images/GMM/stage_6-eps-converted-to.pdf
ordering_figures_final/images/Mid-Lateral_surface3-eps-converted-to.pdf
ordering_figures_final/images/cluster1/stage_12-eps-converted-to.pdf
ordering_figures_final/images/cluster1/stage_18-eps-converted-to.pdf
ordering_figures_final/images/cluster1/stage_24-eps-converted-to.pdf
ordering_figures_final/images/cluster1/stage_36-eps-converted-to.pdf
ordering_figures_final/images/cluster1/stage_6-eps-converted-to.pdf
ordering_figures_final/images/cluster2/stage_12-eps-converted-to.pdf
ordering_figures_final/images/cluster2/stage_18-eps-converted-to.pdf
ordering_figures_final/images/cluster2/stage_24-eps-converted-to.pdf
ordering_figures_final/images/cluster2/stage_36-eps-converted-to.pdf
ordering_figures_final/images/cluster2/stage_6-eps-converted-to.pdf
ordering_figures_final/images/cluster3/stage_12-eps-converted-to.pdf
ordering_figures_final/images/cluster3/stage_18-eps-converted-to.pdf
ordering_figures_final/images/cluster3/stage_24-eps-converted-to.pdf
ordering_figures_final/images/cluster3/stage_36-eps-converted-to.pdf
ordering_figures_final/images/cluster3/stage_6-eps-converted-to.pdf

